body {
    background-color: rgba(245, 222, 179, 0.287);
    font-family: monospace;
    font-size: 15px;
    margin: 0px;
}

.heading h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    margin-top: 75px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    width: fit-content;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
}

.links a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(23, 45, 210);
}

.links a:hover {
    text-decoration: underline;
}

.blog {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
}

.blog a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(23, 45, 210);
}

.blog a:hover {
    text-decoration: underline;
    text-transform: capitalize;
}

.bdate {
    font-weight: 600;
}

.classic {
    border: 1px solid black;
    margin-top: 30px;
}

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.146);
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;
    position: relative; /* Add this line */
}

.dropbtn:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3.5px;
}

.nav-container {
    max-width: 800px;
    margin: 0 auto;
    border: solid 0.5px;
    border-radius: 5px;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
}

.marquee {
    color: black;
    /* direction: ltr; */
    
}


@media only screen and (max-width: 600px) {
    .container {
        padding: 10px; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .heading h1 {
        font-size: 45px; 
    }

    .links {
        display: flex;
        justify-content: center;
        gap: 10px; 
    }

    .links a {
        margin-bottom: 5px;
    }

    .blog {
        padding-right: 10px; 
    }
}
